In [1]:
#Question 1

In [3]:
#Use a for lop when you know the loop should execute n times.
#Use a while loop when asking user for a input.

In [4]:
#Example of a for loop

In [5]:
l="aryan"
for i in l:
    print(i)

a
r
y
a
n

In [6]:
#Example of a while loop

In [1]:
a=1
while a<=10:
    print(a)
    a=a+1

1
2
3
4
5
6
7
8
9
10

In [2]:
#Question 2

In [4]:
#By for loop

In [14]:
sum=0
for i in range (1,11):
    print(i)
    sum=sum+i
print("the sum of the numbers is:",sum)

1
2
3
4
5
6
7
8
9
10
the sum of the numbers is: 55

In [15]:
#product by for loop

In [17]:
product=1
for i in range (1,11):
    print(i)
    product=product*i
print("the product of first 10 natural number is:",product)

1
2
3
4
5
6
7
8
9
10
the product of first 10 natural number is: 3628800

In [18]:
#sum by while loop

In [4]:
n=int(input("enter n"))
sum=0
i=1
while(i<=n):
    sum=sum+i
    i=i+1
print("sumof 1st 10 naturalno is:",sum)

enter n 10

sumof 1st 10 naturalno is: 55

In [5]:
#product by while loop

In [1]:
n=int(input("enter n"))
product=1
i=1
while(i<=n):
    product=product*i
    i=i+1
print(" product of 1st 10 naturalno is:",product)

enter n 10

 product of 1st 10 naturalno is: 3628800

In [2]:
#Question 3

In [2]:
units=float(input("enter the units of electricity consumed"))
bill=0.0
if(units<=100):
    bill=units*4.5
elif(units>100 and units<=200):
    bill=100*4.5+(units-100)*6
elif(units>200 and units<=300):
    bill=100*4.5+100*6+(units-200)*10
else:
    bill=100*4.5+100*6+100*10+(units-300)*20
print(bill)

enter the units of electricity consumed 310

2250.0

In [4]:
#question 5

In [9]:
s="i want to become a data scientist"
count=0
l=['a','e','i','o','u']
for char in s:
    if char in l:
        count =count+1
print(count)

12